@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgb(151, 151, 151);
}

nav > ul > li > a {
    text-decoration: none;
    color: aliceblue;
}

nav > ul > li {
    list-style: none;
}

nav > ul {
    display: flex;
    gap: 15px;
}

.tarjeta {
    background-color: yellow; /* Color de fondo de la tarjeta */
    width: 200px; /* Ancho de la tarjeta */
    height: 600px; /* Largo de la tarjeta */
}

.cajaDeTarjetas {
    display: flex; /* Acomoda las tarjetas de forma horizontal */
    gap: 15px; /* El espacio entre las tarjetas es de 15 pixeles*/
    flex-wrap: wrap; /* Si las tarjetas no entran en la caja, los manda para abajo*/
    padding: 20px; /* Espacio entre los elementos y la caja*/
    justify-content: center; /* Centrar de manera horizontal los elementos de la caja*/
}

.titulo{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.acercade{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    width: 20%;
    height: 20%;
    background-color: yellow;
}

.ayuda{
    display: flex;
    background-color: blueviolet;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    height: 100vh; 
    width: 20%;
}

